@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


.creatorTitle {
  text-align: center;
  font-family: 'Abril Fatface', cursive;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
}
